@import url("https://fonts.googleapis.com/css2?family=Raleway&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --font: "Raleway", sans-serif;
}
body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(253, 229, 229);
}

.header-container {
  height: 10vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 2rem;
  border-bottom: 1px solid silver;
}

.logo {
  color: green;
}

.header-container ul {
  list-style: none;
}

.header-container ul li {
  display: inline-block;
  margin: 1rem;
  cursor: pointer;
  text-decoration: none;
}

.header-container ul li a {
  cursor: pointer;
  text-decoration: none;
  color: #333;
}

.header-container ul li a:hover {
  border-bottom: 1px solid goldenrod;
}
.navbar-admin {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: rem;
}
.navbar-admin a {
  cursor: pointer;
  text-decoration: none;
  color: #333;
  padding: 1rem;
}

.navbar-admin a:hover {
  border-bottom: 1px solid goldenrod;
}
.navbar-admin div {
  width: 1px;
  height: 30px;
  background-color: gray;
}

/* .main {
  max-height: 85vh;
} */
.intro-video {
  position: relative;
  width: 100vw;
  min-height: 30vh;
  max-height: 55vh;
  object-fit: cover;
}

.app-description {
  padding: 1rem;
}

.btn-default {
  width: 200px;
  height: 100px;
  border: 1px solid red;
  z-index: 100;
  position: absolute;
}

.card-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 2rem;
  line-height: 1.5;
}

.footer-container {
  background-color: #333;
  color: white;
  height: 5vh;
  display: flex;
  flex-direction: column;
  text-align: center;
  font-size: small;
  justify-content: center;
}

/* FORM COMPONENT */
form {
  padding-top: 5rem;
  text-align: center;
}
label {
  width: 200px;
  display: inline-block;
  text-align: left;
}
form div {
  margin: 1rem 0;
}
input,
textarea,
select {
  background: #f4f4f4;
  border: 1px solid rgb(102, 102, 102);
  width: 450px;
  padding: 0.5rem;
  border-radius: 3px;
  font-size: 0.8rem;
}
