@import url("https://fonts.googleapis.com/css2?family=Raleway&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --font: "Raleway", sans-serif;
}
body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(253, 229, 229);
  color: #333;
}

.header-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem;
  box-shadow: 1px 2px 4px #333;
}

h1 {
  color: green;
}

.header-container ul {
  list-style: none;
  align-items: center;
  padding: 1rem;
}

.header-container ul li {
  display: inline-block;
  margin: 0 1rem;
  cursor: pointer;
  text-decoration: none;
  font-size: larger;
}

.header-container ul li a {
  cursor: pointer;
  text-decoration: none;
  color: #333;
}

.header-container ul li a:hover {
  border-bottom: 1px solid goldenrod;
}
.navbar-admin {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
}
.navbar-admin a {
  cursor: pointer;
  text-decoration: none;
  color: #333;
  padding: 1rem;
}

.navbar-admin a:hover {
  border-bottom: 1px solid goldenrod;
}
.navbar-admin div {
  width: 1px;
  height: 30px;
  background-color: gray;
}

.intro-video {
  position: relative;
  width: 100vw;
  min-height: 30vh;
  max-height: 55vh;
  object-fit: cover;
}

.btn-default {
  width: 200px;
  height: 100px;
  border: 1px solid red;
  z-index: 100;
  position: absolute;
}

.card-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
  margin: 0 8rem;
  line-height: 1.5;
}

.card {
  width: 350px;
  height: 170px;
  padding: 1rem;
  border: 1px solid darkcyan;
  box-shadow: 1px 1px 1px 1px rgb(114, 125, 136);
  border-radius: 3px;
  line-height: 1.5rem;
}

.card-content {
  padding: 1rem 0;
}

.see-more {
  margin-left: 13rem;
}

.see-more a {
  text-decoration: none;
  color: green;
}

.footer-container {
  background-color: rgb(108, 133, 108);
  color: white;
  display: flex;
  flex-direction: column;
  text-align: center;
  font-size: small;
  justify-content: center;
  padding: 2rem;
}
h2 {
  padding-bottom: 2rem;
}
/* FORM COMPONENT */
form {
  padding: 2.25rem;
  text-align: center;
}
label {
  width: 150px;
  display: inline-block;
  text-align: left;
}
form div {
  margin: 1rem 0;
}

input,
textarea,
select {
  background: #f4f4f4;
  border: 1px solid rgb(102, 102, 102);
  width: 450px;
  padding: 0.75rem;
  border-radius: 3px;
  font-size: 14px;
}

/* RecipeCard */
.recipe-card {
  width: 400px;
  height: 450px;
  border: 1px solid silver;
  border-radius: 3px;
  box-shadow: 3px 3px 5px grey;
  margin: 3rem 4rem;
  padding: 1rem;
  position: relative;
  line-height: 1.75rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.recipe-card-image {
  width: 100%;
  height: 50%;
  display: block;
  margin: 0 auto;
}

.recipe-card-flag {
  width: 50px;
  height: 50px;
  position: absolute;
  top: -15px;
  right: -10px;
}

.recipe-card-content {
  padding: 1rem;
}

.recipe-card-link a {
  text-decoration: none;
  color: green;
}
/* browse_recipe_page */

.recipes-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 2.8rem;
}
.search-div {
  margin: 0 auto;
  justify-content: space-between;
  align-items: center;
}
.recipes-grid {
  padding: 2rem 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
